<div class="container">
    <h1>Cadastre-se!</h1><br>
    <div class="row">
        <form class="form-group col-md-7" action="/rota_user/cad_user/add" style="width: 100%;"  method="POST" >
            <input class="form-control" placeholder="Nome" type="text" name="nome" value="">
            <br>
            <input class="form-control" placeholder="Senha" type="password" name="senha" value="">
            <br>
            <input class="btn btn-block btn-success" type="submit" value="CADASTRAR">
            <br><br>
            <a href="/rota_user/login">Já possui cadastro? Então clique aqui...</a>
        </form>
        <img class="col-md-4" src="/public/img/mamaco_combinando.png" width="20%" height="30%" alt="mamaco_combine">
    </div>
</div>