<div class="container">
    <h1>Entre e aprecie!</h1><br>
    <div class="row">
        <form class="form-group col-md-7" action="/rota_user/login/autenticar" style="width: 100%;"  method="POST">
            <input class="form-control" placeholder="Nome" type="text" name="nome">
            <br>
            <input class="form-control" placeholder="Senha" type="password" name="senha">
            <br>
            <input class="btn btn-block btn-success" type="submit" value="Entrar">
            <br><br>
        </form>
        <img class="col-md-4" src="/public/img/mamaco_combinando.png" width="20%" height="30%" alt="mamaco_combine">
    </div>
</div>