
<div class="container">
    <h1 style="color: #0a2d4e">Bem Vindo ao nosso Site!</h1>
    <p>
        <script>
            var session = decodeURIComponent("{{{session}}}");
            document.write(session);
        </script>
    </p>
    <br>
    <div class="row">
        <div class="col-sm" >
            <div class="card">
                <img class="col-sm" src="/public/img/macaco2.png" alt="" height="350px">
                <div class="card-body card text-light col" style="background-color: #0a4275;">
                    <h1>TITTLE!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam eu metus laoreet, vestibulum urna non,
                        eleifend magna. Curabitur nec enim eu lorem mollis ornare.
                        Maecenas convallis varius felis ac consectetur. Sed rhoncus eu diam vitae tristique.
                        Morbi consequat purus in cursus mollis. Sed aliquet dapibus accumsan.
                        Phasellus lacus sapien, suscipit eget faucibus vel,
                        luctus id sapien. Vestibulum viverra tempor turpis sed maximus.
                        Nullam tristique ac augue vitae posuere.</p>
                </div>
            </div>
        </div>
        <div class="col-sm" >
            <div class="card">
                <img class="col-sm" src="/public/img/macaco1.png" alt="" height="350px">
                <div class="card-body card text-light col" style="background-color: #0a4275;">
                    <h1>TITTLE!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam eu metus laoreet, vestibulum urna non,
                        eleifend magna. Curabitur nec enim eu lorem mollis ornare.
                        Maecenas convallis varius felis ac consectetur. Sed rhoncus eu diam vitae tristique.
                        Morbi consequat purus in cursus mollis. Sed aliquet dapibus accumsan.
                        Phasellus lacus sapien, suscipit eget faucibus vel,
                        luctus id sapien. Vestibulum viverra tempor turpis sed maximus.
                        Nullam tristique ac augue vitae posuere.</p>
                </div>
            </div>
        </div>
        <div class="col-sm" >
            <div class="card">
                <img class="col-sm" src="/public/img/mamaco_combinando.png" alt="" height="350px">
                <div class="card-body card text-light col" style="background-color: #0a4275;">
                    <h1>TITTLE!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam eu metus laoreet, vestibulum urna non,
                        eleifend magna. Curabitur nec enim eu lorem mollis ornare.
                        Maecenas convallis varius felis ac consectetur. Sed rhoncus eu diam vitae tristique.
                        Morbi consequat purus in cursus mollis. Sed aliquet dapibus accumsan.
                        Phasellus lacus sapien, suscipit eget faucibus vel,
                        luctus id sapien. Vestibulum viverra tempor turpis sed maximus.
                        Nullam tristique ac augue vitae posuere.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <h1 align="center">Lorem Ipsum</h1><br>
        <p>Nunc consectetur nibh nec est tempus, in hendrerit metus semper.
            Mauris scelerisque nec dui finibus vulputate.
            Nullam in dui ac sem facilisis vestibulum.
            Nulla mauris eros, tincidunt vel ligula id, commodo accumsan dolor.
            Phasellus cursus risus volutpat, consectetur diam non, varius quam.
            Donec ante libero, iaculis nec sem sed, ullamcorper finibus sapien.
            Sed velit ex, auctor vitae dolor sed, suscipit ultrices tellus.
            Nunc sodales, augue id tincidunt tincidunt, mauris velit pellentesque lacus,
            vitae elementum mauris tortor et lorem.
            Sed mollis vitae nibh eget cursus. Vestibulum pellentesque,
            libero quis tincidunt feugiat, dui tortor ornare lectus,
            nec feugiat odio enim et tortor.</p><br>
    </div>
</div>